extends layout

block vars
  - var pageTitle = "Home"
  - var modules = [ { "name" : "Module 1", "content" : "An Intro to HTML and CSS" }, { "name" : "Module 2", "content" : "An Intro to Javascript and jQuery" } ]; 

block test
  p Test
