!!! 5
html(lang="en")
  head
    title= "ACM Outreach"
    link(rel="stylesheet" href="/css/style.css")
  body

    //- Sidebar
    div#sidebar
      div#header
        a(onclick="home()")
          h1 ACM Outreach
      ul#modules
        each module in modules
          li.module
            a(onclick="loadContent('#{module.link}')")
              div
                p= module.name
              div.content
                p= module.description

    //- Content
    iframe#content(seamless="seamless")

    //- Scripts
    script(type="application/javascript" src="/js/jquery-1.10.2.min.js")
    script(type="application/javascript" src="/js/script.js")
