!!! 5
html(lang="en")
  block vars
  head
    title= pageTitle
    link(rel="stylesheet" href="/style.css")
  body

    //- Sidebar
    div#sidebar
      div#header
        h1 ACM Outreach
      ul#modules
        each module in modules
          li.module
            div
              p= module.name
            div.content
              p= module.content

    //- Content
    div#content
      block test

    //- Scripts
    script(type="application/javascript" src="/jquery-1.10.2.min.js")
    script(type="application/javascript" src="/script.js")
