html, body {
  margin: 0px;
  padding: 0px;
  height: 100%;
}

#sidebar {
  margin: 0px 0px 20px;
  padding-top: 20px;
  width: 25%;
  height: 100%;
  min-width: 300px;
  display: block;
  position: fixed;
  border-right: 2px solid silver;
  background-color: #fff;
}

#header h1 {
  font-family: Helvetica-Neue, Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 40px;

  text-align: center;
}

#modules {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.module {
  padding: 10px 5px;
}

.module p {
  margin: 0px;
}

.module .content {
  display: none;
}

.module:nth-child(even) {
  background-color: #ee8f2a;
}

.module:nth-child(odd) {
  background-color: #eeaf4d;
}

#content {
  float: right;
}
